@charset "UTF-8";
/* CSS Document */

/*矢印が右に移動する*/
.btnarrow4{
    /*矢印と下線の基点とするためrelativeを指定*/
	position: relative;
    /*形状*/
  display: inline-block;
	padding: 0 25px;
  color: #333;
  text-decoration: none;
  outline: none;
  font-size: .6rem;
}

/*矢印と下線の形状*/
.btnarrow4::before{
  content: '';
  /*絶対配置で下線の位置を決める*/
	position: absolute;
  bottom:-6px;
  left:15%;
  /*下線の形状*/    
  width: 85%;
  height: 1px;
	background:#333;
  /*アニメーションの指定*/
  transition: all .3s;
}

.btnarrow4::after{
  content: '';
    /*絶対配置で矢印の位置を決める*/
	position: absolute;
  bottom:-3px;
  right:0;
  /*矢印の形状*/    
  width: 10px;
  height:1px;
	background:#333;
  transform: rotate(35deg);
    /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btnarrow4:hover::before{
  left:30%;
}

.btnarrow4:hover::after{
  right:-15%;
}

/**/

/*スクロールボタン*/
.scroll {
  font-size: .8rem;
	position: absolute;
	bottom: 2rem;
	color: #fff;
	text-decoration: none;
	left: 50%;
	transform: translateX(-50%);
}

.scroll::before, .scroll::after {
	content: "";
	display: block;
	width: .75rem;
	height: .75rem;
	border-bottom: 1px solid;
	border-right: 1px solid;
	transform: rotate(45deg) translateX(-50%);
	position: absolute;
	left: 50%;
	bottom: -1rem;
  animation: sdb 2s infinite;
  opacity: 0;
}
.scroll::after {
	bottom: -1.5rem;
  animation-delay: .15s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/**/

/*ハンバーガーメニュー*/
.btn_slide {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  position: fixed;
  top: 3rem;
  right: 1rem;
  z-index: 20000;
}
.btn_slide::before, .btn_slide span, .btn_slide::after {
  content: "";
  display: block;
  width: 2rem;
  height: .1rem;
  background: #fff;
  transition: .3s;
}

.btn_slide::before {
  transform: translateY(-.5rem);
}
.btn_slide::after {
  transform: translateY(.5rem);
}

.btn_slide.open::before {
  transform: translateY(.05rem) rotate(45deg);
}
.btn_slide.open::after {
  transform: translateY(-.15rem) rotate(-45deg);
}
.btn_slide.open span {
  width: 0;
}
.slide {
  width: 100%;
  min-height: 100vh;
  background: #010F3E;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 18000;
  transition: .5s;
}

.slide.open {
  right: 0;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0);
  z-index: 15000;
  transition: .5s;
  pointer-events: none;
  
}

.cover.open {
  background: rgba(0,0,0,.6);
  pointer-events: auto;
}

/*------------------------------------------------*/

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: .5rem 1rem;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
}
main {
	background: rgb(240,239,245);
	background: linear-gradient(167deg, rgba(240,239,245,1) 0%, rgba(189,197,242,1) 28%, rgba(187,150,213,1) 58%, rgba(170,128,189,1) 73%, rgba(74,96,163,1) 100%);
}
main a {
  color: #010F3E;
}
header {
  position: relative;
}


header .header_top {
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  padding: 0 3%;
	width: 100%;
	position: absolute;
  top: 2rem;
}

.header_top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12vw;
  min-width: 180px;
}

.hd_nav li, .slide_sns li {
  width: 1.3rem;
}
nav {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

.glb_nav li {
  font-size: .8rem;
  text-align: end;
  line-height: 1.8rem;
}

.glb_nav li span {
  color: #fff;
}
.gnav.m_fixed {
	position: fixed;
  top: 3rem;
  right: 1rem;
	z-index: 10;

}
.fv-logo h1 {
  width: 5rem;
  height: 5rem;
}

.slider {
  min-width: 320px;
  position: relative;
  height: 100vh;
  width: 100%;
}
.slider_img_all {
  height: 100vh;
  width: 100vw;
}
.slider_img_all img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -100;
}
/*.slider_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  animation: anime 20s infinite;
  background-size: cover;
  background-position: center;
}
.slider_item {
  /*animation*/
/*
  animation-name: anime;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-duration: 50s;
  animation-fill-mode: forwards;
  animation-fill-mode: both;
}
.slider_item1 {
  background-image: url(../images/diving_main_edited.png);
}
.slider_item2 {
  background-image: url(../images/diving4_edited.png);
  animation-delay: 5s;
}
.slider_item3 {
  background-image: url(../images/diving12_edited.png);
  animation-delay: 10s;
}
.slider_item4 {
  background-image: url("../images/diving2_edited.png");
  animation-delay: 15s;
}
.slider_item5 {
  background-image: url("../images/diving_edited.png");
  animation-delay: 20s;
}
@keyframes anime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}
*/
.aboutus {
  display: flex;
  justify-content: flex-end;
  padding-top: 15rem;
  align-items: center;
}
.aboutus_title, .news_title {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}
.aboutus .aboutus_words {
  text-align: end;
  margin-right: 2rem;
}
.aboutus .aboutus_words h2 {
  font-size: 1rem;
}
.aboutus .aboutus_words p {
  font-size: .8rem;
  margin-top: 2rem;
}

.aboutus img, .news img, .reservation img {
  width: 55vw;
  min-width: 320px;
}

.news {
  display: flex;
  justify-content: flex-start;
  margin-top: 15rem;
  align-items: center;
}

.news .news_words {
  margin-left: 2rem;
}

.news .news_words h2 {
  font-size: 1rem;

}
.news .news_words dl {
  margin-top: 2rem;
  font-size: .8rem;
}
.news .news_words dl dt {
  font-weight: bold;
}
.news .news_words dl dd{
  margin-bottom: 1rem;
}

.courses {
  margin-top: 15rem;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  padding: 5rem 0;
}

.courses h2 {
  margin: auto 0;
  font-size: 1rem;
  border-bottom: 1px solid #010F3E;
}

.courses h3 {
  font-size: .8rem;
  margin-top: .8rem;
}

.courses p {
  font-size: .6rem;
  margin-top: .8rem;
}

.courses div, .courses h2 {
  width: 20%;
}
.reservation {
  margin-top: 15rem;
  display: flex;
  align-items: center;
}
.reservation_words {
  margin-left: 2rem;
}
.reservation_words h2 {
  font-size: .8rem;
  padding: .8rem;
  border: 1px solid; 
}
.reservation_words p {
  margin-top: 3rem;
  font-size: .6rem;
}
.reserve_button {
  display: flex;
  align-items: baseline;
}
.long_arrow {
  margin-left: -2rem;
}
.shopinfo_all {
  margin-top: 15rem;
  padding-top: 5rem;
  background: #fff;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  width: 100%;
}
.shopinfo_words {
  padding-top: 2rem;
  text-align: end;
  width: 25%;
  max-width: 12rem;
}
.address1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  column-gap: .5rem;
  font-size: .8rem;
}

.address1 div {
  width: 3rem;
}
.address2 {
  margin-top: 1rem;
  width: 100%;
  font-size: .6rem;
  row-gap: 1rem;
}
.map_wrap {
  width: 60%;
  min-width: 320px;
}

.map {
  width: 100%;
  position: relative;
  padding-bottom : 56.25%;
  height: 0;
  overflow : hidden;
}
.map iframe {
  border: none;
  position : absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
}
footer {
  font-size: .6rem;
  background: #fff;
  text-align: center;
  line-height: 50px;
}
.slide {
  padding: 2.4rem 0 0 2rem;
}
.slide_nav {
  padding-top: 3rem;
	 line-height: 1.8rem;
}
.slide_nav span {
  color: #fff;
  font-size: .8rem;
}
.slide .slide_sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28%;
  padding-top: 2rem;
}

@media(max-width: 800px) {
  .btn_slide {
    display: flex;
  }
  .aboutus img, .news img, .reservation img {
    width: 80vw;
  }
  .hd_nav li {
    display: none;
  }
  .glb_nav {
    display: none;
  }
  .aboutus {
    display: flex;
    flex-flow: column;
    flex-direction: column-reverse;
    margin-top: 8rem;
    align-items: flex-end;
  }
   .aboutus .aboutus_words {
    padding-top: 3rem;
    width: 100%;
    margin-right: 0;
  }
  .aboutus_title, .news_title {
     justify-content: center;
  }
  .aboutus_words p {
    text-align: center;
  }
  .news {
    margin-top: 8rem;
    align-items: flex-start;
  }
  .news .news_words {
    padding-top: 3rem;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .news, .reservation {
    display: flex;
    flex-flow: column;
  }
  .news dl {
    text-align: center;
  }
  .courses {
    display: block;
    justify-content: center;
    margin-top: 5rem;
    padding-top: 4rem;
  }
  .courses img {
    aspect-ratio: 1/1;
    object-fit: cover;
    padding-top: 3rem;
  }
  .courses h2 {
    width: 100%;
    text-align: center;
    border-bottom: hidden;
  }
  .courses div {
    width: 70%;
    margin: 0 auto;
    min-width: 300px;
  }
  .reservation {
    margin-top: 8rem;
    align-items: flex-end;
  }
  .reservation_words {
    padding-top: 3rem;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .reserve_button {
    padding-left: 2rem;
    justify-content: center;
  }
  .reservation p {
  margin-top: 1.5rem;
  }
  .shopinfo_all {
    margin-top: 8rem;
    display: flex;
    flex-flow: column;
    flex-direction: column-reverse;
    align-items: center;
  }
  .address1 {
    justify-content: center;
    text-align: end;
  }
  .shopinfo_words {
    text-align: center;
    width: 100%;
  }
  .phone_number {
    margin-top: .5rem;
  }
  .map_wrap {
    width: 80%;
  }
}